<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>ajaxServlet</servlet-name>
    <servlet-class>youshan.com.ajaxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>timeServlet2</servlet-name>
    <servlet-class>youshan.com.timeServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>youshan.com.userServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>provinceCity</servlet-name>
    <servlet-class>youshan.com.provinceCity</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>ajaxServlet</servlet-name>
    <url-pattern>/ajaxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>timeServlet2</servlet-name>
    <url-pattern>/timeServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>provinceCity</servlet-name>
    <url-pattern>/provinceCity</url-pattern>
  </servlet-mapping>

</web-app>